<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="icon" type="image/ico" href="favicon.ico" />

    <!-- Report Viewer component style -->
    <link href="https://cdn.boldreports.com/8.1.1/content/v2.0/tailwind-light/bold.report-viewer.min.css" rel="stylesheet" />

    <!-- Report Viewer component dependent scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.boldreports.com/8.1.1/scripts/v2.0/common/bold.reports.common.min.js"></script>
    <script src="https://cdn.boldreports.com/8.1.1/scripts/v2.0/common/bold.reports.widgets.min.js"></script>

    <!-- Report Viewer component script -->
    <script src="https://cdn.boldreports.com/8.1.1/scripts/v2.0/bold.report-viewer.min.js"></script>
    <!-- Blazor interop file -->
    <script src="_content/Reporting/scripts/boldreports-interop.js"></script>

    <HeadOutlet @rendermode="RenderModeForPage" />
</head>

<body>
    <ErrorBoundary>
        <ChildContent>
            <Routes @rendermode="RenderModeForPage" />
        </ChildContent>
        <ErrorContent>
            <p>Exception occured on the server side</p>
            @if (context.InnerException is not null)
            {
                @* Here we are interested in exceptions that are re-thrown from catch block *@
                @* Exception message contains the class and method names where exception occured *@
                <p>Exception message: @context.Message</p>
                @* Inner exception message contains message of the exception that breaked application *@
                <p>Inner exception message: @context.InnerException.Message</p>
            }
            else
            {
                <p>Exception message: @context.Message</p>
            }
        </ErrorContent>
    </ErrorBoundary>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.Value switch
    {
        var p when p is not null && p.StartsWith("/Account") => null,
        "/report" => InteractiveServer,
        _ => new InteractiveAutoRenderMode(prerender: true)
    };
}
